@import "../variables";
@import "../mixins";

.btn {
  position: relative;

  padding: 30px;

  display: inline-block;
  min-width: 350px;

  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;

  background: $yellow-color;
  border: none;
  color: $dark-color;
  cursor: pointer;

  &:hover {
    color: $gray-color;
    &::after {
      border-color: $gray-color;
    }
  }

  @media (min-width: $screen-middle-width) {
    min-width: 304px;
  }

  &::after {
    content: " ";

    position: absolute;
    right: 35px;
    top: 0;
    bottom: 0;

    margin: auto;

    @include arrow($dark-color, 45deg);

  }
}