@import "../variables";
@import "../mixins";

.slider{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  margin-bottom: 35px;
  @media (min-width: $screen-middle-width) {
    margin-bottom: 80px;
  }
}


.slider__items{
  @media (min-width: $screen-middle-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.slider__item {
  display: none;

  &.slider__item--active {
    display: block;
  }

  @media (min-width: $screen-middle-width) {
    display: block;
    margin: 20px 30px;
  }

}

.slider__btn{
  display: block;

  cursor: pointer;

  @media (min-width: $screen-middle-width) {
    display: none;
  }


  @include arrow($dark-color, 0);

  &.slider__btn--prev{
    transform: rotate(230deg);
  }

  &.slider__btn--next{
    transform: rotate(45deg);
  }
}

