@import "../variables";
@import "../mixins";

.slider{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  margin-bottom: 20px;
}


.slider__item {
  display: none;

  &.slider__item--active {
    display: block;
  }

}

.slider__btn{
  display: block;

  cursor: pointer;

  @include arrow($dark-color, 0);

  &.slider__btn--prev{
    transform: rotate(230deg);
  }

  &.slider__btn--next{
    transform: rotate(45deg);
  }
}

