@import "../variables";

.footer__container {
  background: #232323;
  color: $white-color;
}

.contacts {
  padding: 29px 24px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-bottom: 10px;

  border-bottom: none;

  @media (min-width: $screen-middle-width) {
    padding: 29px $big-horizontal-padding;
    justify-content: center;
    border-bottom: 1px solid #616161;
  }

}

.contacts__link {
  display: block;

  img {
    height: 24px;
  }
  @media (min-width: $screen-middle-width) {
    &:not(:first-of-type){
      margin-left: 20px;
    }
  }
}

.about {
  padding: 0 24px;

  display: flex;
  justify-content: space-between;



  border-bottom: 1px solid #616161;


  @media (min-width: $screen-middle-width) {
    flex-wrap: wrap;

    padding: 0 $big-horizontal-padding;
    margin-bottom: 24px;

    border-bottom: none;

    & > * {
      flex: 1;
    }
  }
}

.about__items {
  margin-left: 0;

  &.no-mobile{
    display: none;
  }

  &:last-of-type{
    .about__link{
      color:$white-color;
    }
  }

  @media (min-width: $screen-middle-width) {
    &.no-mobile{
      display: block;
    }
    &:not(:first-of-type) {
      margin-left: 30px;
    }
  }

}

.about__item {
  margin-bottom: 5px;
  min-height: 24px;

  &:first-of-type {
    .about__link {
      color: $white-color;
    }
  }

  &:not(:first-of-type){
    display: none;
  }

  @media (min-width: $screen-middle-width) {
    &:not(:first-of-type){
      display: block;
    }
  }
}

.about__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;

  color: #9b9b9b;

  @media (min-width: $screen-middle-width) {
    font-family: $font-circe-light;
    text-decoration:underline;
  }

}

.footer__divider {
  width: 100%;

}

.company-registration {
  padding: 24px;

  font-family: $font-arialMt;
  font-size: 11px;
  line-height: 1.46;
  text-align: center;

  color: #616161;

  a {
    color: #616161;
  }
}

