@import "../variables";

.footer__container {
  background: #232323;
  color: $white-color;
}

.contacts {
  padding: 32px $big-horizontal-padding;

  display: flex;
  align-items: center;
  justify-content: space-around;

  border-bottom: none;

  @media (min-width: $screen-middle-width) {
    justify-content: center;

    margin-bottom: 17px;

    border-bottom: 1px solid #616161;
  }

}

.contacts__link {
  display: block;

  img {
    height: 20px;
  }
  @media (min-width: $screen-middle-width) {
    &:not(:first-of-type) {
      margin-left: 20px;
    }
  }
}

.about {
  padding: 0 32px;

  display: flex;
  justify-content: space-around;

  border-bottom: 1px solid #616161;

  @media (min-width: $screen-middle-width) {

    padding: 0 $big-horizontal-padding;
    margin-bottom: 24px;

    border-bottom: none;

  }
}

.about__items {
  margin-left: 0;

  &.no-mobile {
    display: none;
  }

  &:last-of-type {
    .about__link {
      color: $white-color;
    }
  }

  @media (min-width: $screen-middle-width) {
    &.no-mobile {
      display: block;
    }
    &:not(:first-of-type) {
      margin-left: 30px;
    }
  }

}

.about__item {
  margin-bottom: 5px;
  min-height: 24px;

  &:first-of-type {
    .about__link {
      color: $white-color;
    }
  }

  &:not(:first-of-type) {
    display: none;
  }

  @media (min-width: $screen-middle-width) {
    &:not(:first-of-type) {
      display: block;
    }
  }
}

.about__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;

  color: #9b9b9b;

  @media (min-width: $screen-middle-width) {
    font-family: $font-circe-light;
    text-decoration: underline;
  }

}

.footer__divider {
  width: 100%;

}

.company-registration {
  display: flex;
  padding: 24px;
}

.company-registration__text {
  flex: 1 70%;

  font-family: $font-arialMt;
  font-size: 11px;
  line-height: 1.46;
  text-align: center;

  color: #616161;

  a {
    color: #616161;
  }

  @media (min-width: $screen-middle-width) {
   text-align: left;
  }

}

.license-img {
  flex: 1 30%;

  display: none;

  @media (min-width: $screen-middle-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 280px;
  }
}

.footer-sprite {
  background-image: url('/public/img/footer-sprite.png');
  background-repeat: no-repeat;
  display: block;
  margin-left: 30px;
  margin-bottom: 20px;

  &:first-of-type {
    margin-left: 70px;
  }
}

.footer-sprite--beliz {
  width: 60px;
  height: 60px;
  background-position: 0 0;
}

.footer-sprite--cascade {
  width: 80px;
  height: 47px;
  background-position: -60px 0;
}

.footer-sprite--icon-nqa {
  width: 42px;
  height: 58px;
  background-position: -140px 0;
}

.footer-sprite--icon-sm {
  width: 66px;
  height: 21px;
  background-position: -182px 0;
}

.footer-sprite--sysec {
  width: 116px;
  height: 60px;
  background-position: -248px 0;
}


