@import "../variables";

.header {

}

.header__container {
  padding: 24px 24px 30px 24px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: url('/public/img/back_null_percents.jpg') 80% 20%;
    background-size: cover;
    filter: brightness(70%);
    z-index: -1;
  }

  @media (min-width: $screen-middle-width) {
    padding: 48px $big-horizontal-padding;
  }
}

.header__title {
  padding-top: 60px;
  margin-bottom: 10px;

  font-family: $font-circe-thin;
  font-size: 40px;
  line-height: 1.2;

  color: $white-color;

  @media (min-width: $screen-middle-width) {
    padding-top: 94px;

    font-size: 66px;
    line-height: 1.1;
  }
}

.header__description {
  margin-bottom: 35px;

  font-family: $font-circe-thin;
  font-size: 24px;
  line-height: 1.34;

  color: #D2D2D2;

  @media (min-width: $screen-middle-width) {
    font-size: 30px;
  }
}


.header__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__right-block {
  display: none;

  font-size: 11px;

  @media (min-width: $screen-middle-width) {
    display: block;
  }
}

.header__link{
  margin-left:24px;

  text-transform: uppercase;
  text-decoration: none;
  color: $yellow-color;
}