@import "../variables";

.payments {
  text-align: center;
  padding: 35px 24px 75px;
  background: $white-color;
  @media (min-width: $screen-middle-width) {
    padding: 40px 24px 52px;
  }
}

.payments__title {
  padding: 0 70px;
  margin: 0 auto 10px;
  font-family: $font-circe-bold;
  font-size: 30px;

  @media (min-width: $screen-middle-width) {
    font-name: $font-circe;
    font-size: 40px;
    line-height:1.2;

  }
}

.payments__remark {
  padding-top: 30px;
  margin: 0 auto;

  max-width: 550px;

  font-family: $font-circe-light;
  font-size: 13px;
  line-height: 1.24;

  @media (min-width: $screen-middle-width) {
    padding-top: 50px;
    font-family: $font-circe;
    font-size: 14px;
    line-height:1.43;
  }
}

.payments__form {
  display: flex;
  justify-content: center;
}

.payments__form__control {
  position: relative;
}

.payments__form__input {
  display: none;
  @media (min-width: $screen-middle-width) {
    display: block;
  }
}

.payments__form__hint {
  position: absolute;
  left: 30px;
  bottom: -30px;

  display: none;

  font-size: 11px;
  color: $gray-color;
  line-height: 1.46;

  @media (min-width: $screen-middle-width) {
    display: block;
  }
}