@import "../../variables";


.contacts {
  padding: 32px $big-horizontal-padding;

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: none;

  @media (min-width: $screen-middle-width) {
    margin-bottom: 17px;

    border-bottom: 1px solid #616161;
  }

}

.contacts__link {
  display: block;

  img {
    height: 26px;
  }

  &:not(:first-of-type) {
    margin-left: 20px;
  }

  @media (min-width: $screen-middle-width) {
    img {
      height: 20px;
    }
  }

}