@font-face {
  font-family: 'Circe-Thin';
  src: url('/public/fonts/Circe-Thin.eot');
  src: url('/public/fonts/Circe-Thin.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/Circe-Thin.woff') format('woff'),
  url('/public/fonts/Circe-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-Bold';
  src: url('/public/fonts/Circe-Bold.eot');
  src: url('/public/fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/Circe-Bold.woff') format('woff'),
  url('/public/fonts/Circe-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-ExtraBold';
  src: url('/public/fonts/Circe-ExtraBold.eot');
  src: url('/public/fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/Circe-ExtraBold.woff') format('woff'),
  url('/public/fonts/Circe-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-Light';
  src: url('/public/fonts/Circe-Light.eot');
  src: url('/public/fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/Circe-Light.woff') format('woff'),
  url('/public/fonts/Circe-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe-Regular';
  src: url('/public/fonts/Circe-Regular.eot');
  src: url('/public/fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/Circe-Regular.woff') format('woff'),
  url('/public/fonts/Circe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}