@import "fonts";
@import "variables";

@import "sections/header";
@import "sections/comissions";
@import "sections/payments";
@import "sections/footer";

@import "components/btn";
@import "components/slider";



html {
  font-family: $font-circe;
  font-size:16px;
  color: $dark-color;
  *, *:before, *:after {
    box-sizing: border-box;
  }

}

body {
  min-width: 480px;
}

ol, ul {
  list-style: none;
}
ol, ul, li{
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}




