@import "../../node_modules/normalize.css/normalize";

@import "fonts";
@import "variables";

@import "sections/header";
@import "sections/comissions";
@import "sections/payments";
@import "sections/footer";

@import "components/btn";
@import "components/slider";
@import "components/select-language";
@import "components/input";



html {
  font-family: $font-circe;
  font-size:16px;
  color: $dark-color;
  *, *:before, *:after {
    box-sizing: border-box;
  }

}

body {
  min-width: $screen-min-width;

  background: #373737;
}

ol, ul {
  list-style: none;
}

ol, ul, li{
  padding: 0;
}

.container {
  max-width: $screen-max-width;
  margin: 0 auto;
}




