/*Fonts*/

$font-circe:'Circe-Regular', 'Arial', sans-serif;
$font-circe-bold:'Circe-Bold', 'Arial', sans-serif;
$font-circe-extra-bold:'Circe-ExtraBold', 'Arial', sans-serif;
$font-circe-light:'Circe-Light', 'Arial', sans-serif;
$font-circe-thin:'Circe-Thin', 'Arial', sans-serif;
$font-arialMt:'ArialMT', 'Arial', sans-serif;

/*Fonts*/


/*Colors*/
$dark-color:#000;
$yellow-color:#fece2f;
/*Colors*/